

<%= form_for @user, :url => {:controller => 'users', :action => 'update'} do |f| %>

    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <legend>重置密码</legend>
    <p>Enter your email address that we have on our file and click send. We will send you a
      password reset link email to your email address.
    </p>

    <div>
      <%= f.label :Email, '邮箱' %>:
      <%= f.text_field :username %>   <br>
    </div>

    <div>
      <%= f.label :NewPassword, '新密码' %>:
      <%= f.password_field :password %>    <br>
    </div>

    <div>
      <%= f.label :Password_confirm, '确认密码' %>:
      <%= f.password_field :password_confirm %> <br>
    </div>

    <%= submit_tag '提交' %>

<% end %>
