



<%= form_tag :action => 'update' do %>

    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>


    <label for="username">邮箱:</label>
    <%= text_field_tag :username, params[:username] %>
    <br>

    <label for="password">新密码:</label>
    <%= password_field :password, params[:password] %>
    <br>

    <label for="password">确认密码:</label>
    <%= password_field :password_confirm, params[:password_confirm] %>
    <br>


    <%= submit_tag '提交' %>

<% end %>