
<%= form_tag :action => 'redirect' do %>

    <label for="username">邮箱:</label>
    <%= text_field_tag :username, params[:username] %>
    <br>

    <label for="password">密码:</label>
    <%= password_field :password, params[:password] %>
    <br>

    <%= check_box_tag 'remember_me' %><label for="remember_me">记住我</label>

    <%= link_to '忘记密码', :controller => 'users', :action => 'forgot_password' %>
    <br>

    <%= submit_tag '登陆' %>

<% end %>

