<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>

    <div class="signUp">
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @user.errors.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <% if flash[:notice] %>
          <li>
            <div class="notice"><%= flash[:notice] %></div>
          </li>
      <% end %>


      <div class="signUpLeft">
        <%= image_tag 'rails.png' %>
      </div>

      <div>

        <p>欢迎注册</p>

        <div>
          <%= f.text_field :username, placeholder: '请输入您的用户名', size: 45, maxlength: 20 %>   <br>
        </div>

        <div>
          <%= f.text_field :email, placeholder: '请输入您的邮箱', size: 45 %>   <br>
        </div>

        <div>
          <%= f.password_field :password, placeholder: '请输入您的密码', size: 45, maxlength: 20 %>  <br>
        </div>

        <div>
          <%= f.password_field :password_confirm, placeholder: '请重复输入密码', size: 45, maxlength: 20 %> <br>
        </div>

        <%= check_box_tag 'agreement' %>
        <label>我已阅读并同意</label><%= link_to '《用户注册协议》', :controller => 'users', :action => 'agreement' %>
        <br><br>

        <label>已有账号</label><%= link_to '去登陆', :controller => 'users', :action => 'login' %>
                                                              <br>
        <%= image_submit_tag('button_register_normal.png') %>

      </div>
    </div>
<% end %>


