<%= form_for @user, :url => {:controller => 'users', :action => 'create', } do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <fieldset>

      <legend>Enter User Details</legend>

      <div>
        <%= f.label :Email %>:
        <%= f.text_field :username %>   <br>
      </div>
      <div>
        <%= f.label :Password %>:
        <%= f.password_field :password %>    <br>
      </div>
      <div>
        <%= f.label :Password_confirm, 'Confirm' %>:
        <%= f.password_field :password_confirm %> <br>
      </div>

      <div class="actions">
        <%= f.submit '注册' %>
      </div>
    </fieldset>
<% end %>


