
<%= form_tag  :action => 'create' do  %>

    <label for="username">Email</label>
    <%= text_field_tag :username, params[:username] %>       <br>

    <label for="password">Password</label>
    <%= password_field :password, params[:password] %>     <br>

    <label for="password_confirm">Password</label>
    <%= password_field :password_confirm, params[:password_confirm] %> <br>

    <%= submit_tag '注册' %>
<% end %>