<!DOCTYPE html>
<html>
<head>
  <title>Case4rom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_logged_in? %>
    <span>You are logged in as: </span>
    <%= current_user.login %>
<% else %>
    <span>Welcome Guest</span>
<% end %>
<br>


<span >Navigation:</span>
<% if user_logged_in? %>
    <%= link_to 'Logout', :controller => 'sessions', :action => 'destroy_session'  %>
<% else %>
    <%= link_to "Sign up", :controller => 'users', :action => "signup"  %>
    | <%= link_to 'Login', :controller => 'users', :action => 'login'  %>
<% end %>

</body>
</html>
